* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 80%;
  margin: auto;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  height: 60px;
  margin: 5px;
  margin-right: 40px;
}

nav img {
  height: 100%;
}

nav .active a {
  color: blue;
  border-bottom: 3px solid blue;
  padding-bottom: 25px;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav li a {
  text-decoration: none;
  font-size: 0.7em;
  color: black;
  font-weight: bold;
}

nav .search {
  border-bottom: 1px solid blue;
  width: 80px;
  text-align: right;
}

nav .search span {
  font-size: 12px;
}

#jumbo-container {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

#jumbo-container img {
  width: 100%;
}

footer {
  background-image: url("/storage/assets/img/footer-bg.jpg");
}

footer .content {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 350px;
}

footer .content .logo {
  width: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .content .logo img {
  max-width: 100%;
  margin-top: -70px;
}

footer .content .links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-top: 50px;
  color: grey;
}

footer .content .links ul a {
  text-decoration: none;
  font-size: 0.7em;
  color: grey;
}

footer .content .links .title {
  color: white;
  margin: 10px 0;
  font-weight: bold;
  font-size: 0.9em;
  display: block;
}

footer .social-container {
  background-color: #242424;
}

footer .social-container .container {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

footer .social-container .container button {
  border: 1px solid #0c6bfb;
  margin: 30px;
  background-color: #242424;
  color: white;
  place-self: center;
  padding: 10px;
}

footer .social-container .social {
  display: flex;
  align-items: center;
}

footer .social-container .social p {
  display: inline-block;
  color: #0c6bfb;
  font-weight: bold;
  margin-right: 10px;
}

footer .social-container .social img {
  margin: 10px;
}

.cards-container {
  background-color: black;
}

.cards-container .top {
  padding-top: 30px;
}

.cards-container .cards-row {
  display: flex;
  justify-content: center;
}

.cards-container .cards-row .card {
  width: calc(16.6666666667% - 20px);
  margin: 20px 10px;
  width: 154px;
  margin: 1%;
}

.cards-container .cards-row .card .img-container {
  overflow: hidden;
}

.cards-container .cards-row .card .img-container img {
  width: 100%;
}

.cards-container .cards-row .card p {
  margin-top: 15px;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
}

.cards-container .cta {
  text-align: center;
}

.cards-container .cta button {
  margin: 0 auto;
  background-color: #0d69f6;
  padding: 10px 30px;
  font-size: 0.7em;
  color: white;
  font-weight: bold;
  border: 0;
  margin-bottom: 20px;
}

.shop {
  background-color: #3069f7;
  color: white;
  height: 100px;
}

.shop .shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.shop .shop-container .card {
  display: flex;
  align-items: center;
  margin: 0 10px;
  height: 50%;
  width: calc(20% - 20px);
  max-width: 150px;
}

.shop .shop-container .card img {
  width: 20%;
  min-width: 30px;
}

.shop .shop-container .card p {
  display: inline-block;
  font-size: 0.6em;
  margin: 0 10px;
  vertical-align: middle;
  font-weight: bold;
}

#jumbo-container #bg-img {
  background-image: url("/storage/assets/img/jumbotron.jpg");
  height: 500px;
}

#test-page .ribon {
  height: 60px;
  background-color: blue;
}

#test-page .details-container {
  display: flex;
  width: 1000px;
  margin: 40px auto;
}

#test-page .details-container .left-column h3 {
  margin-bottom: 15px;
}

#test-page .details-container .left-column .price {
  padding: 5px;
  color: white;
  background-color: green;
  margin-bottom: 10px;
}

#test-page .details-container .right-column {
  margin-left: 20px;
}

#test-page .details-container .right-column img {
  width: 400px;
}

#test-page .details {
  background-color: #e9e6e6;
  font-size: 10px;
}

#test-page .details h4 {
  padding: 10px;
  border-bottom: 1px solid grey;
  font-size: 15px;
}

#test-page .details .container {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

#test-page .details .container .talent {
  width: 50%;
  margin-right: 20px;
}

#test-page .details .container .talent span {
  width: 200px;
  padding: 0 40px 40px 0;
}

#test-page .details .container .talent .authors {
  display: flex;
  border-bottom: 1px solid grey;
  padding: 10px 0 0 0;
}

#test-page .details .container .talent .authors a {
  color: blue;
}

#test-page .details .container .specs {
  width: 50%;
}

#test-page .details .container .specs .row {
  display: flex;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

#test-page .details .container .specs .row span {
  width: 200px;
}

